<!-- <div class="alert alert-danger">
  <h1>cc {{ title }}</h1>
</div>
<i class="fa fa-smile-o" aria-hidden="true"></i> -->
<!-- <app-cv></app-cv> -->
<!-- <app-ng-style [color]="'pink'"></app-ng-style>
<app-ng-style [color]="'pink'" [bgc]="'silver'" [font]="'garamound'"></app-ng-style> -->
<!-- <app-customize-text></app-customize-text> -->

<!-- <app-ng-style></app-ng-style> -->
<!-- <app-cv></app-cv> -->
<!-- <app-todo-list></app-todo-list> -->
<app-header></app-header>
<!-- <app-test-form></app-test-form> -->
<!-- <app-non-stop-image
  [imgs]="['rotating_card_profile1.png', 'rotating_card_profile2.png', 'rotating_card_profile3.png']"
  [isRounded]="true"
  [height]="150"
  [width]="150"
  [timer]="1500"
 ></app-non-stop-image> -->
 <!-- <app-test-http></app-test-http> -->
<router-outlet></router-outlet>
<hr>
<h2>Footer</h2>
